---
layout: base
---

<div class="content">
	<p class="text-right" style="margin-bottom: -3em !important;">
		<a href="https://github.com/{{ site.repo }}/edit/main/app/perintah/{{ title }}.md" target="_blank" class="btn btn-rounded btn-sm">
			<i class="bi bi-pen"></i> Edit
		</a>
	</p>
	<h1 class="border-bottom">
		{{ title }}
	</h1>
	{{ content }}
</div>